Content-Type: text/html

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oracle Database Visualiser</title>
  </head>
  <body>
    <p>Hello {{info}} </p>
    <p>
      {% for row in fields %}
        {% for item in row.show_info() %}
            <li>{{item}}</li>
        {% endfor %}
        <p></p>
        <p>{{row.draw_svg_rectangle()}}</p>
        <p></p>
      {% endfor %}
    </p>
    <p>{{fields[1].show_info()}}</p>
    <p>{{finds[1].show_info()}}</p>

  </body>
</html>
