*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height 100vh;
}

h1 {
    margin-bottom: 3rem;
    color: red;
}

.left-column {
    width: 50%
    float: left;
}

.right-column {
    width: 50%
    float: right;
}

.find {
    stroke: black;
    stroke-width: 0.02;
}

.find_selected {
    stroke: red;
    stroke-width: 0.08;
}

.field {
    stroke-width: 0.04;
    stroke: black;
}

.field_selected {
    stroke-width: 0.08;
    stroke: blue;
}
