*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    align-items: center;
    justify-content: center;
    text-align: center;
    height 100vh;
}

.content {
    width: 960px;
    margin: auto;
}

.column {
  float: left;
}

.left {
    width: 10%;
}

.right {
  width: 40%;
}

.middle {
  width: 45%;
}

h1 {
    margin-bottom: 3rem;
    color: red;
}

.find {
    stroke: black;
    stroke-width: 0.02;
}

.find_selected {
    stroke: red;
    stroke-width: 0.08;
}

.field {
    stroke-width: 0.04;
    stroke: black;
}

.field_selected {
    stroke-width: 0.08;
    stroke: blue;
}

.hidden {
    display: none;
}